.main-content {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 920px;
}

.movie-list-title {
  font-size: 34px;
  font-weight: 600;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.87);
}
