.mypage {
  width: 1000px;
  margin: 154px auto 0;
}

.mypage-container {
  height: 390px;
  background-color: #262626;
  border-radius: 16px;
  padding: 32px 24px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  color: white;
}

.profile-info p {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5; /*???*/
}

.profile-info strong {
  color: #ff3b4d;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

.movie-menu {
  color: white;
  margin-top: 18px;
}

.movie-menu ul {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #a9a9a9;
  font-family: Inter;
  font-size: 24px;
  line-height: 32px;
}

.movie-menu button {
  position: relative;
  padding: 20px 0 10px;
  border: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.movie-menu button.active::after {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
  height: 3px;
  background: #ff3b4d;
  content: "";
}

.my-movie-list {
  padding-top: 94px;
}

.my-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}
